services:
  havana-server:
    depends_on:
      mariadb:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile-Server
    ports:
      - "12321:12321"
      - "12322:12322"
      - "12323:12323"
    networks:
      - havana
    environment:
      MYSQL_HOST: ${MYSQL_HOST:-mariadb}
      MYSQL_PORT: ${MYSQL_PORT:-3306}
      MYSQL_USERNAME: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    restart: on-failure

  havana-web:
    depends_on:
      mariadb:
        condition: service_healthy
    build:
      context: .
      dockerfile: Dockerfile-Web
    ports:
      - "80:80"
    networks:
      - havana
    volumes:
      - ./tools:/havana-web/bin/tools
    environment:
      MYSQL_HOST: ${MYSQL_HOST:-mariadb}
      MYSQL_PORT: ${MYSQL_PORT:-3306}
      MYSQL_USERNAME: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    restart: on-failure

  mariadb:
    image: "mariadb:11.4-noble"
    ports:
      - "3306:3306"
    networks:
      - havana
    environment:
      MARIADB_USER: ${MYSQL_USERNAME}
      MARIADB_PASSWORD: ${MYSQL_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - data:/var/lib/mysql
      - ./tools/havana.sql:/docker-entrypoint-initdb.d/havana.sql
      - ./tools/migrations/update.1.1.sql:/docker-entrypoint-initdb.d/update.1.1.sql
      - ./tools/migrations/update.1.2.sql:/docker-entrypoint-initdb.d/update.1.2.sql
      - ./tools/migrations/update.1.3.sql:/docker-entrypoint-initdb.d/update.1.3.sql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    restart: on-failure

volumes:
  data:

networks:
  havana:
